
   <nav class="navbar navbar-dark bg-dark text-white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cable
    </ion-title>

  </nav>
  <ion-content>
  <div class="card-header" style="color: black;">

    <div class="card-group">
      <div class="card"style="color: black;">

        <div class="card-body">
          <h5 class="card-title"><strong>5 MB de fibra optica</strong></h5>
          <p class="card-text">$1.500 </p>

          <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/internet">Saber mas</button>
        </div>

      </div>
      <div class="card">

        <div class="card-body">
          <h5 class="card-title"><strong>10 MB de fibra optica </strong></h5>
          <p class="card-text">$1.700</p>

         <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;"  routerLink="/cable">Saber mas</button>
        </div>

      </div>
      <div class="card">

        <div class="card-body">
          <h5 class="card-title"><strong>15 MB de fibra optica</strong></h5>
          <p class="card-text">$ 3.000</p>

          <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/ofertas">Saber mas</button>
        </div>
      </div>


    </div>
    <hr>
    <div class="card-group ">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title"><strong>20 MB de fibra optica</strong></h5>
          <p class="card-text">$4.000 </p>

          <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/internet">Saber mas</button>
        </div>

      </div>

      <div class="card">

        <div class="card-body">
          <h5 class="card-title"><strong>25 MB de fibra optica</strong></h5>
          <p class="card-text">$4.250</p>

         <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;"  routerLink="/cable">Saber mas</button>
        </div>

      </div>
      <div class="card">

        <div class="card-body">
          <h5 class="card-title"><strong>50 MB de fibra optica</strong></h5>
          <p class="card-text">$5.000</p>

          <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/ofertas">Saber mas</button>
        </div>
      </div>


    </div>
    </div>
  </ion-content>
