
  <nav class="navbar navbar-dark bg-dark text-white">
    <ion-toolbar background-color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>
        Internet
       </ion-title>
    </ion-buttons>
</ion-toolbar>
  </nav>
  <ion-content>
    <div class="card-header container mt-2">

      <div class="card-group">
        <div class="card">

          <div class="card-body"style="color: black;">
            <h5 class="card-title">5 MB de fibra optica</h5>
            <p class="card-text">$1.500 </p>
            <br>
            <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/internet">Saber mas</button>
          </div>

        </div>
        <div class="card">

          <div class="card-body" style="color: black;">
            <h5 class="card-title">10 MB de fibra optica </h5>
            <p class="card-text">$1.700</p>

           <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;"  routerLink="/cable">Saber mas</button>
          </div>

        </div>
        <div class="card">

          <div class="card-body"style="color: black;">
            <h5 class="card-title">15 MB de fibra optica</h5>
            <p class="card-text">$ 3.000</p>

            <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/ofertas">Saber mas</button>
          </div>
        </div>
        <div class="card">

          <div class="card-body" style="color: black;">
            <h5 class="card-title">20 MB de fibra optica</h5>
            <p class="card-text">$ 3.000</p>

            <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/ofertas">Saber mas</button>
          </div>
        </div>
        <div class="card">

          <div class="card-body" style="color: black;">
            <h5 class="card-title">25 MB de fibra optica</h5>
            <p class="card-text">$ 3.000</p>

            <button type="button" class="btn btn-outline-primary" style="border-radius: 55px;" routerLink="/ofertas">Saber mas</button>
          </div>
        </div>
      </div>
        </div>
  </ion-content>
